<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="assets/styles/card.css" type="text/css" rel="Stylesheet" />

    <script src="src/components/CardNews.js" defer></script> <!-- Depois que a DOM for executada-->
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card_left">
                <span>Henry Townshend</span>
                <a href="#">Darth Vader Contrata Devs</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
            <div class="card_right">
                <img src="assets/img/asset-vader.png" alt="" />
            </div>

            <card-news></card-news>
        </div>
    </div>
</body>
</html>